#limit{
    width: 100%;
    position: absolute;
    padding-left: auto;
    padding-right: auto;
}

#ty{
    margin-top: 5%;
    text-align: center;
}

#lb{
    margin-top: 10%;
    text-align: center;
    color: #6f42c1;
}

#name{
    margin-top: 5%;
    text-align: center;
    color: #ffc107;
}
